.navbar {
   background-color: var(--blue);
   padding: 1rem 0;
   
}
.navbar-brand{
    background-color: var(--light);
    color: var(--blue);
    text-decoration: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
    text-transform: uppercase;
    font-weight: bold;
}

.nav-item{
    color:white ;
    text-decoration: none;
    cursor: pointer;

}
.nav-user{
    margin-top: 0.5rem;
    text-align: right;
    color: var(--light);

}
.navbar-container{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}